# Fichiers de configuration utilisateur de l'IDE JetBrains
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/dataSources.local.xml
.idea/dataSources/

# Configuration (Exclu)
config.php

# Archives (Fichiers de maintenance et debug)
_archive/

